// Import page-specific CSS files here.
@import "home";

.title {
  margin-top : 32px,
}

.card {
  margin: 10px
}

.all-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
